<form nz-form nzLayout="vertical" [formGroup]="questionsForm" (ngSubmit)="emitQuestionsFormValues">
  <ng-container formArrayName="questions">
    <nz-form-item nzAlign="top" nzJustify="start">
      <h6 nz-typography>Questions</h6>
      <a nz-button nzType="link" (click)="addQuestion()"><span nz-icon nzType="plus" nzTheme="outline"></span> Add question</a>
    </nz-form-item>

    <nz-form-item *ngFor="let question of getQuestions().controls; let i=index;">
      <nz-form-label nzFor="question-{{i}}">Question {{i+1}}:</nz-form-label>
      <nz-form-control>
        <input nz-input type="text" id="question-{{i}}" [formControlName]="i"/>
      </nz-form-control>
      <a nz-button nzType="link" (click)="removeQuestion(i)" class="question-link"><span nz-icon nzType="minus" nzTheme="outline"></span> Remove question</a>
    </nz-form-item>

  </ng-container>
<form>
