<!-- <nz-row nzAlign="top" nzJustify="center">
  <nz-col nzSpan="12" nzOffset="6"> -->
    <ng-container [ngSwitch]="currentStep$ | async">
      <app-job-details-form
      *ngSwitchCase=" 'step1' "
      [startingForm]="stepOneFom?.get('stepFormOne')?.value"
      (subformInitialized)="subformInitialized('step1', $event)"
      (changeStep)="changeStep('step1', 'forward')"
      >
      </app-job-details-form>

        <app-job-review-form
        *ngSwitchCase=" 'step2' "
        [startingForm]="stepOneFom?.get('step2')?.value"
        (subformInitialized)="subformInitialized('step2', $event)"
        (changeStep)="changeStep('step2', 'back')"
        (submitForm)="submitForm()"
        ></app-job-review-form>
    </ng-container>

    <nz-steps [nzCurrent]="current">
      <nz-step nzTitle="Finished"></nz-step>
      <nz-step nzTitle="In Progress"></nz-step>
      <nz-step nzTitle="Waiting"></nz-step>
    </nz-steps>

    <div class="steps-content">
       <h3 nz-typography class="title">Post a new career with us</h3>
       <app-job-details-form *ngIf="current === 0 "></app-job-details-form>
       <app-step-two-job-form *ngIf="current === 1" ></app-step-two-job-form>
       <app-job-review-form *ngIf="current === 2 "></app-job-review-form>
    </div>

    <div class="steps-action">
      <button nz-button nzType="default" (click)="pre()" *ngIf="current > 0">
        <span>Previous</span>
      </button>
      <button nz-button nzType="default" (click)="next()" *ngIf="current < 2">
        <span>Next</span>
      </button>
      <button nz-button nzType="primary" (click)="done()" *ngIf="current === 2">
        <span>Done</span>
      </button>
    </div>
<!--
  </nz-col>
</nz-row> -->
