<form nz-form [formGroup]="formInfos" nzLayout="vertical" enctype="multipart/form-data">

  <nz-form-item nzGutter="[16, 16]">
    <nz-form-label nzRequired nzSpan="12" nzOffset="6">Resume </nz-form-label>
    <nz-form-control nzSpan="12" nzSpan="12" nzOffset="6" [nzErrorTip]="errorTpl">
      <input nz-input type="file" accept=".docx,.pdf,.html, .htm, .doc" formControlName="cv" name="cv" placeholder="Import your CV" />
    </nz-form-control>
  </nz-form-item>
</form>

<ng-template #errorTpl let-control>
  <ng-container *ngIf="control.hasError('required')"> This field is required! </ng-container>
  <ng-container *ngIf="control.hasError('confirm')"> Two emails that you enter is inconsistent! </ng-container>
</ng-template>
