<form nz-form [formGroup]="formInfos" nzLayout="vertical">

  <nz-form-item nzGutter="[16, 16]">
    <nz-form-label nzRequired=""></nz-form-label>
    <nz-form-control nzSpan="6">
      <input nz-input type="file" accept=".bmp,.gif,.jfif,.jpeg,.jpg,.png,.tif,.tiff,.webp" formControlName="avatar" />
    </nz-form-control>
  </nz-form-item>

  <nz-form-item nzGutter="[16, 16]" >
    <nz-form-label nzFor="firstname" nzRequired [nzSpan]="6">
      Firstname
    </nz-form-label>
    <nz-form-control [nzSpan]="6">
      <input type="text" nz-input formControlName="firstname" id="firstname" />
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label nzFor="lastname" nzRequired [nzSpan]="6">
      Lastname
    </nz-form-label>
    <nz-form-control [nzSpan]="6">
      <input type="text" nz-input formControlName="lastname" id="lastname" />
    </nz-form-control>
  </nz-form-item>

  <nz-form-item nzGutter="[16, 16]">
    <nz-form-label nzFor="email" nzRequired [nzSpan]="6">
      Email
    </nz-form-label>
    <nz-form-control [nzSpan]="6">
      <input type="email" nz-input formControlName="email" id="email" />
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label nzFor="confirmEmail" nzRequired [nzSpan]="6">
      Confirm your Email
    </nz-form-label>
    <nz-form-control [nzSpan]="6">
      <input type="email" nz-input formControlName="confirmEmail" id="confirmEmail"/>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item nzGutter="[16, 16]">
    <nz-form-label nzFor="adress" nzRequired [nzSpan]="6">
      Adress
    </nz-form-label>
    <nz-form-control [nzSpan]="6">
      <input type="text" nz-input formControlName="adress" id="adress" />
    </nz-form-control>

  </nz-form-item>

  <nz-form-item>
    <nz-form-label nzFor="adress" nzRequired [nzSpan]="6">
      Phone number
    </nz-form-label>
    <nz-form-control [nzSpan]="6">
      <nz-input-group [nzAddOnBefore]="addOnBeforeTemplate">
        <ng-template #addOnBeforeTemplate>
          <nz-select formControlName="phoneNumberPrefix" class="phone-select">
            <nz-option nzLabel="+216" nzValue="+216"></nz-option>
            <nz-option nzLabel="+33" nzValue="+33"></nz-option>
          </nz-select>
        </ng-template>
        <input type="number" nz-input formControlName="phone" id="phone" />
      </nz-input-group>

    </nz-form-control>
  </nz-form-item>

</form>
