<form [formGroup]="questionsForm" (ngSubmit)="onSubmit()">
  <ng-container formArrayName="questions">
    <div *ngFor="let question of questions.controls; let i = index" [formGroupName]="i">
      <formly-form [form]="questionsForm" [fields]="questionFields" [model]="model[i]"></formly-form>
      <button type="button" (click)="removeQuestion(i)">Remove Question</button>
    </div>
  </ng-container>  
  <button type="button" nz-button nzType="dashed" class="add-button" (click)="addQuestion()">
    <span nz-icon nzType="plus"></span>
    Add field
  </button>
  <button type="submit" class="btn btn-default">Submit</button>
</form>