
.login-form-margin {
  margin-bottom: 16px;
}

.login-form-forgot {
  float: right;
}

.login-form-button {
  width: 100%;
}

/* Media queries for responsive design */
@media screen and (max-width: 768px) {
  
}

@media screen and (max-width: 480px) {
 
}

