<form nz-form nzLayout="vertical">
  <nz-form-item>
    <nz-form-label>
      Job description
    </nz-form-label>
    <nz-form-control>
      <textarea nz-input placeholder="Autosize height based on content lines" nzAutosize></textarea>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label>
      Perfect fit
    </nz-form-label>
    <nz-form-control>
      <textarea nz-input placeholder="Autosize height based on content lines" nzAutosize></textarea>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label>
      Benifits
    </nz-form-label>
    <nz-form-control>
      <textarea nz-input placeholder="Autosize height based on content lines" nzAutosize></textarea>
    </nz-form-control>
  </nz-form-item>
</form>
