<!-- <form nz-form nzLayout="vertical" [formGroup]="stepTwoJobForm" (ngSubmit)="submitForm()">

  <nz-form-item>
    <nz-form-label>
      Job description
    </nz-form-label>
    <nz-form-control>
      <textarea nz-input placeholder="Autosize height based on content lines" nzAutosize formControlName="description"></textarea>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label>
      Perfect fit
    </nz-form-label>
    <nz-form-control>
      <textarea nz-input placeholder="Autosize height based on content lines" nzAutosize formControlName="profile"></textarea>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label>
      Benifits
    </nz-form-label>
    <nz-form-control>
      <textarea nz-input placeholder="Autosize height based on content lines" nzAutosize formControlName="benefits"></textarea>
    </nz-form-control>
  </nz-form-item>



  <button type="submit">Submit</button>
</form> -->
