:host {
  width: 100%;
}

nz-content {
  padding: 10px;
}

nz-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: inherit;
  margin-bottom: 20px;
  padding: 0 25px;
}

nz-sider {
  height: 100vh ;
}

button {
  display: flex;
  align-items: center;
}

@media all and (max-width: 576px){
  nz-header{
    padding: 0 25px;
  }
}

@media all and (max-width: 992px){
  nz-header{
    padding: 0 25px;
  }
}
