<nz-layout class="outer-layout">
  <nz-sider nzCollapsible nzBreakpoint="lg" [nzCollapsedWidth]="0" [(nzCollapsed)]="isCollapsed" [nzTrigger]="null">
    <div class="logo"></div>
    <ul nz-menu nzTheme="dark" nzMode="inline">
      <li nz-menu-item>
        <span nz-icon nzType="user" nzTheme="outline"></span>
        <span (click)="navigateToUsersListing()">Users </span>
      </li>
      <li nz-menu-item>
        <span nz-icon nzType="pie-chart"></span>
        <span> <a  (click)="navigateToJobs()"> Jobs </a></span>
      </li>
    </ul>
  </nz-sider>
  <nz-layout class="inner-layout">
    <span class="trigger" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'" (click)="isCollapsed = !isCollapsed"></span>
    <nz-header nzTheme="light">
      <div class="btn-wrapper d-flex align-items-center justify-content-center">
        <nz-space nzSize="middle">
          <button nz-button nzType="primary" routerLink="/users/add" nzSize="small" *nzSpaceItem>
            <span nz-icon nzType="plus" nzTheme="outline"></span>
            Add new user
          </button>
          <button nz-button nzType="primary" class="search-btn" nzSize="small" *nzSpaceItem>
            <span nz-icon nzType="search" nzTheme="outline"></span>
            Search
          </button>
          <button nz-button nzType="primary" nzSize="small" *nzSpaceItem>
            <span nz-icon nzType="filter" nzTheme="outline"></span>
            Filter
          </button>
        </nz-space>

      </div>
      <!-- <app-logout></app-logout> -->
    </nz-header>
    <nz-content>

      <router-outlet></router-outlet> <!-- Named outlet for UsersListingComponent -->
      <router-outlet name="updateUserForm" [hidden]="!formVisibile" *ngIf="!formVisibile"></router-outlet> <!-- Named outlet for UpdateUserFormComponent -->
      <router-outlet name="jobsListing"></router-outlet>
      <!-- <router-outlet ></router-outlet> -->
    </nz-content>
    <nz-footer>Footer</nz-footer>
  </nz-layout>
</nz-layout>


