nz-header {
  background-color: inherit;
  margin-bottom: 20px;
  padding: 10px 20px;
}

nz-breadcrumb {
  margin-bottom: 10px;
}

.main-content {
  background-color: #fff;
  padding: 10px;
  margin: 10px;
}

button {
  display: flex;
  align-items: center;
}

.trigger {
  width: 20px;
  height: 20px;
}

.inner-layout .btn-wrapper {
  float: right;
}

.inner-layout .btn-wrapper button {
  float: left;
  margin: 0 16px;
}

.inner-layout .btn-wrapper button::last-child {
  margin: none;
}

@media all and (max-width: 576px) {
  nz-header {
    padding: 0 25px;
  }

  nz-space {
    display: block;
  }

  .inner-layout .btn-wrapper button {
    float: none;
    justify-content: center;
    width: 100%;
    margin: 12px 0;
  }
}

@media all and (max-width: 992px) {
  nz-header {
    padding: 0 25px;
  }
}
