<nz-layout class="outer-layout">
  <nz-sider nzCollapsible nzBreakpoint="lg" [nzCollapsedWidth]="0" [(nzCollapsed)]="isCollapsed" [nzTrigger]="null">
    <div class="logo"></div>
    <ul nz-menu nzTheme="dark" nzMode="inline">
      <li nz-menu-item>
        <span nz-icon nzType="user" nzTheme="outline"></span>
        <span (click)="navigateToUsersListing()">Users </span>
      </li>
      <li nz-menu-item>
        <span nz-icon nzType="pie-chart"></span>
        <span> <a (click)="navigateToJobs()"> Jobs </a></span>
      </li>
      <li nz-menu-item>
        <span nz-icon nzType="pie-chart"></span>
        <span> <a [routerLink]="['./', 'recruiter']"> Recruiter </a></span>
      </li>
      <li nz-menu-item>
        <span nz-icon nzType="pie-chart"></span>
        <span> <a [routerLink]="['./', 'candidate']"> Candidate </a></span>
      </li>
    </ul>
  </nz-sider>
  <nz-layout class="inner-layout">
    <nz-header nzTheme="light">
      <span class="trigger" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
        (click)="isCollapsed = !isCollapsed"></span>
      <div class="btn-wrapper" nz-dropdown [nzDropdownMenu]="menu">
        <nz-avatar nzIcon="user" [nzAlt]="userPayload.username"></nz-avatar>
        <span>{{userPayload.email}}</span>
      </div>
      <nz-dropdown-menu #menu="nzDropdownMenu">
        <ul nz-menu>
          <app-logout></app-logout>
        </ul>
      </nz-dropdown-menu>
    </nz-header>
    <nz-content class="main-content">
      <nz-breadcrumb [nzAutoGenerate]="true">
      </nz-breadcrumb>
      <router-outlet></router-outlet>
    </nz-content>
    <nz-footer>Footer</nz-footer>
  </nz-layout>
</nz-layout>
