  <form nz-form [formGroup]="jobDetailsForm" class="job-details-form" nzLayout="vertical">

      <nz-form-item>
        <nz-form-label>Job Title</nz-form-label>
        <nz-form-control>
          <input id="jobTitle" type="text" formControlName="jobTitle" nz-input>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label>Skills</nz-form-label>
        <nz-form-control >
          <input id="skills" type="text" formControlName="skills" nz-input>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label>Experience</nz-form-label>
        <nz-form-control>
          <input id="requiredExperience" type="number" formControlName="requiredExperience" nz-input>
        </nz-form-control>
      </nz-form-item>

      <!-- <button type="submit" (click)="submitForm()">Submit</button> -->
  </form>
