  <form nz-form [formGroup]="jobDetailsForm" class="job-details-form" nzLayout="vertical" (ngSubmit)="addNewItem(jobDetailsForm.value)">

    <nz-form-item>
      <nz-form-label>Job Title</nz-form-label>
      <nz-form-control>
        <input id="jobTitle" type="text" formControlName="title" nz-input>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label>Job Summary</nz-form-label>
      <nz-form-control>
        <input id="jobSummary" type="text" formControlName="jobSummary" nz-input>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label>Key responsibilities </nz-form-label>
      <nz-form-control>
        <input id="responsibilities" type="text" formControlName="responsibilities" nz-input>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label>Qualifications and skills </nz-form-label>
      <nz-form-control>
        <input id="qualificationsSkills" type="text" formControlName="qualificationsSkills" nz-input>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label>Salary and Benefits </nz-form-label>
      <nz-form-control>
        <input id="salaryBenefits" type="text" formControlName="salaryBenefits" nz-input>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label>Work Environment </nz-form-label>
      <nz-form-control>
        <input id="workEnv" type="text" formControlName="workEnv" nz-input>
      </nz-form-control>
    </nz-form-item>

    <button type="submit">Submit</button>
  </form>
