<div nz-row [nzGutter]="[16, 24]" class="outer-row">

  <div nz-col>
    <div nz-row nzJustify="end">
      <button nz-button nzType="primary" [routerLink]="['../', 'users', 'add']" nzSize="small" nz-row nzAlign="middle">
        <span nz-icon nzType="plus" nzTheme="outline"></span>
        Add new user
      </button>
    </div>
  </div>
  <div nz-col>
    <div nz-row [nzGutter]="16">
      <div nz-col nzSpan="24">
        <nz-table #editRowTable #sortTable [nzData]="listOfData" [nzHideOnSinglePage]="true">
          <thead>
            <tr>
              <th *ngFor="let column of listOfColumns" [nzSortOrder]="column.sortOrder" [nzSortFn]="column.sortFn"
                [nzSortDirections]="column.sortDirections" [nzFilterMultiple]="column.filterMultiple">
                {{column.name}}
              </th>
              <th>Roles</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>

            <tr *ngFor="let data of editRowTable.data" class="editable-row">
              <td>{{ data.email }}</td>
              <td>
                <!-- {{ data.role }} -->
                <div class="editable-cell" [hidden]="editId === data._id" (click)="startEdit(data._id)">
                  {{ data.role }}
                </div>
                <div [hidden]="editId !== data._id">
                  <nz-select (blur)="stopEdit()" [nzMaxTagCount]="3" [nzMaxTagPlaceholder]="tagPlaceHolder"
                    nzMode="multiple" nzPlaceHolder="Please select roles" [(ngModel)]="listOfSelectedValue"
                    name="selectedRoles">
                    <nz-option *ngFor="let item of listOfOption" [nzLabel]="item" [nzValue]="item"></nz-option>
                  </nz-select>
                  <button nz-button nzType="primary" type="submit" nzSize="small"
                    (click)="editUserRoles(data._id, listOfSelectedValue)"> Send </button>
                  <ng-template #tagPlaceHolder let-selectedList>and {{ selectedList.length }} more
                    selected</ng-template>
                </div>

              </td>
              <td>
                <!-- <a>Action 一 {{ data.username }}</a> -->
                <!-- <a (click)="editUser(data._id)">Edit</a> -->
                <a (click)="openModal(data._id)">Disable</a>
              </td>
            </tr>
          </tbody>
        </nz-table>
      </div>
    </div>
  </div>
