<div nz-row nzJustify="center" nzAlign="middle" style="height: 100vh;">
  <div nz-col nzSpan="24">
    <div nz-row nzJustify="center" nzAlign="middle" style="height: 100%;">
      <div nz-col nzSpan="12">
        <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
          <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="email">E-mail</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="The input is not valid E-mail!">
              <input nz-input formControlName="email" id="email" />
            </nz-form-control>
          </nz-form-item>

          <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="firstname" nzRequired
              nzTooltipTitle="What is your firstname">
              <span nz-typography>Firstname</span>
            </nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input your firstname!">
              <input nz-input id="firstname" formControlName="firstname" autocomplete="additional-name"/>
            </nz-form-control>
          </nz-form-item>

          <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="lastname" nzRequired
              nzTooltipTitle="What is your family name">
              <span nz-typography>Lastname</span>
            </nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input your family name!">
              <input nz-input id="lastname" formControlName="lastname" />
            </nz-form-control>
          </nz-form-item>

          <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="password" nzRequired>Password</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input your password!">
              <input nz-input type="password" id="password" formControlName="password"
                (ngModelChange)="updateConfirmValidator()" />
            </nz-form-control>
          </nz-form-item>

          <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="checkPassword" nzRequired>Confirm Password</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24" [nzErrorTip]="errorTpl">
              <input nz-input type="password" formControlName="checkPassword" id="checkPassword" />
              <ng-template #errorTpl let-control>
                <ng-container *ngIf="control.hasError('required')">Please confirm your password!</ng-container>
                <ng-container *ngIf="control.hasError('confirm')">
                  Two passwords that you enter is inconsistent!
                </ng-container>
              </ng-template>
            </nz-form-control>
          </nz-form-item>

          <nz-form-item nz-row class="register-area">
            <nz-form-control [nzSpan]="14" [nzOffset]="6">
              <button nz-button nzType="primary">Register</button>
            </nz-form-control>
          </nz-form-item>
          <span class="span">
            Or
            <a routerLink="/login"> Login </a>
          </span>
        </form>
      </div>
    </div>
  </div>
</div>
