<form nz-form [formGroup]="jobDetailsForm" class="job-details-form" nzLayout="vertical">
  <nz-form-item>
    <nz-form-label nzRequired nzFor="jobTitle">Job Title</nz-form-label>
    <nz-form-control [nzErrorTip]="errorTpl">
      <input id="jobTitle" type="text" formControlName="title" nz-input (blur)="checkControlValidty()">
      <ng-template #errorTpl let-control>
        <ng-container *ngIf="control.hasError('required')">Please write something here</ng-container>
      </ng-template>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label nzRequired  nzFor="responsibilities">Key responsibilities </nz-form-label>
    <nz-form-control [nzErrorTip]="errorTpl">
      <input id="responsibilities" type="text" formControlName="responsibilities" nz-input (blur)="checkControlValidty()">
      <ng-template #errorTpl let-control>
        <ng-container *ngIf="control.hasError('required')">Please write something here</ng-container>
      </ng-template>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label nzRequired nzFor="qualificationsSkills">Qualifications and skills </nz-form-label>
    <nz-form-control [nzErrorTip]="errorTpl">
      <input id="qualificationsSkills" type="text" formControlName="qualificationsSkills" nz-input (blur)="checkControlValidty()">
      <ng-template #errorTpl let-control>
        <ng-container *ngIf="control.hasError('required')">Please write something here</ng-container>
      </ng-template>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label nzRequired nzFor="salaryBenefits">Salary and Benefits </nz-form-label>
    <nz-form-control [nzErrorTip]="errorTpl">
      <input id="salaryBenefits" type="text" formControlName="salaryBenefits" nz-input (blur)="checkControlValidty()">
      <ng-template #errorTpl let-control>
        <ng-container *ngIf="control.hasError('required')">Please write something here</ng-container>
      </ng-template>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label nzRequired>Work Environment </nz-form-label>
    <nz-form-control [nzErrorTip]="errorTpl">
      <nz-select formGroupName="workEnv" formControlName="workEnv">
        <nz-option nzValue="Onsite" nzLabel="Onsite"></nz-option>
        <nz-option nzValue="Hybrid" nzLabel="Hybrid"></nz-option>
        <nz-option nzValue="Remote" nzLabel="Remote"></nz-option>
      </nz-select>
    </nz-form-control>
    <ng-template #errorTpl let-control>
      <ng-container *ngIf="control.hasError('required')">Please write something here</ng-container>
    </ng-template>
  </nz-form-item>
</form>
