<nz-list nzGrid>
  <div nz-row [nzGutter]="16">
    <div nz-col nzSpan="24" *ngFor="let job of jobList">
      <nz-list-item>
        <nz-card [nzTitle]="job.title" [nzHoverable]="true" [routerLink]="['./', 'jobs', job._id]">
          <span nz-typography>
            <strong>Key Responsibilites :</strong>
          </span>
          <p nz-typography>
            {{job.responsibilities}}
          </p>
          <span nz-typography>
            <strong>Skills and Qualifications :</strong>
          </span>
          <p nz-typography> {{job.skillsQualitfications}} </p>
          <div class="status-date">
            <span nz-typography>
              <strong nz-typography>
               {{ job.status }}
              </strong>
            </span>
            <span nz-typography>
              <strong nz-typography>
                {{ job.publishedOn | date:'dd-MM-yyyy' }}
              </strong>
            </span>
          </div>
        </nz-card>
      </nz-list-item>
    </div>
  </div>
</nz-list>
