<form nz-form nzLayout="vertical" [formGroup]="userAddForm" (ngSubmit)="submitForm(userAddForm.value)">

  <nz-form-item>
    <nz-form-label nzRequired nzFor="email">E-mail</nz-form-label>
    <nz-form-control nzErrorTip="The input is not valid E-mail!">
      <input nz-input formControlName="email" id="email" name="email"/>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label nzFor="username" nzRequired
      nzTooltipTitle="What do you want other to call you">
      <span>Username</span>
    </nz-form-label>
    <nz-form-control nzErrorTip="Please input your username!">
      <input nz-input id="username" formControlName="username" name="username"/>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item >
    <nz-form-label nzFor="password" nzRequired>Password</nz-form-label>
    <nz-form-control nzErrorTip="Please input your password!">
      <input nz-input type="password" id="password" formControlName="password"
        (ngModelChange)="updateConfirmValidator()" name="password"/>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label nzFor="checkPassword" nzRequired>Confirm Password</nz-form-label>
    <nz-form-control [nzErrorTip]="errorTpl">
      <input nz-input type="password" formControlName="checkPassword" id="checkPassword" name="checkPassword"/>
      <ng-template #errorTpl let-control>
        <ng-container *ngIf="control.hasError('required')">Please confirm your password!</ng-container>
        <ng-container *ngIf="control.hasError('confirm')">
          Two passwords that you enter is inconsistent!
        </ng-container>
      </ng-template>
    </nz-form-control>
  </nz-form-item>

  <button nz-button nzType="primary" type="submit">Add user</button>

</form>
